// breakpoints

$xxsmall:   320px;
$xsmall:    480px;
$small:     768px;
$medium:    992px;
$large:     1200px;
$huge:      1366px;

$max_xxsmall:   479px;
$max_xsmall:    767px;
$max_small:     991px;
$max_medium:    1199px;

// media queries

@mixin mq($screenSize) {
  @if $screenSize == xxsmall {
   @media only screen and (min-width: $xxsmall) and (max-width: $max_xxsmall) { @content; }
  }
  @else if $screenSize == xsmall {
   @media only screen and (min-width: $xsmall) and (max-width: $max_xsmall) { @content; }
  }
  @else if $screenSize == small {
   @media only screen and (min-width: $small) and (max-width: $max_small) { @content; }
  }
  @else if $screenSize == medium {
   @media only screen and (min-width: $medium) and (max-width: $max_medium) { @content; }
  }
  @else if $screenSize == large {
   @media only screen and (min-width: $large) { @content; }
  }
  @else if $screenSize == huge {
   @media only screen and (min-width: $huge) { @content; }
  }
}