* {
    &:focus {
        outline: none !important;
    }
}

a {
    color: $blue;
}

body {
    font-family: $font1;
    background: $smoke;
}

.container-fluid {
    padding-left: 50px;
    padding-right: 50px;
}

.btn,
.form-control {
    padding: 9px 14px;
    border-radius: 9px; 
}

.form-control {
    height: 40px;
}

@include mq(xxsmall) {
    @for $i from 1 through 12 {
  
        .col-xxs-#{$i} {
            @include clearfix;
            float: left;
            display: block;
            // padding: 0 5px;
            width: 100% / 12 * $i;
          }
    }
}