$white:        #ffffff;
$smoke:        #f7f7f7;
$darksmoke:    #cccccc;
$red:          #e74c3c;
$green:        #48af4a;
$gray:         #888888;
$blue:         #45bbe4;
$yellow:       #fbdb45;
$orange:       #e67e22;
$midnight:     #1f1f1f;
$black:        #000000;
