.verify-box {
    overflow-y: auto;

    &:nth-of-type(2) {
        
        .modal-dialog {

            .modal-body {
                padding: 30px 60px 50px 60px;
            }
        }
    }

    .modal-dialog {
        width: 450px;

        .modal-body {
            padding: 30px 60px 30px 60px;

            .login-logo {
                
                img {
                    max-width: 250px;
                    margin-bottom:30px;
                }// img
            }// .login-logo

            .form-group {
                position: relative;

                .register-name-alert,
                .register-email-alert, {
                    margin-top: 7px;
                    color: $red;
                    @include font-size(13px);
                    display: none;
                }

                .register-number-alert,
                .register-password-alert {
                    color: $red;
                    @include font-size(13px);
                    display: none;
                }

                .note-form {
                    margin-top: 7px;
                    margin-bottom: 0;
                    color: #888;
                    @include font-size(13px);
                }

                img {
                    position: absolute;
                    top: 13px;
                    right: 15px;
                    max-width: 25px;
                    height: auto;
                    margin-left: 15px;
                    z-index: 100;
                    cursor: pointer;
                }// img
            }// .form-group

            .col-xs-6 {
                margin: 0 0 15px 0;

                .checkbox {
                    margin: 0;
                    
                    label {
                        padding: 0;
    
                       input[type=checkbox] {
                           display: none;
    
                            &:checked {
                                +.cr>.cr-icon {
                                    opacity: 1
                                }
                            }
                       }// input
    
                       .cr {
                            position: relative;
                            display: inline-block;
                            border: 1px solid $darksmoke;
                            border-radius: 50px;
                            width: 20px;
                            height: 20px;
                            float: left;
                            margin-right: .5em;
    
                            .cr-icon {
                                position: absolute;
                                font-size: 14px;
                                line-height: 0;
                                top: 50%;
                                left: 10%;
                                opacity: 0;
                            }// .cr-icon
                       }// .cr
                    }// label    
                }// .checkbox
            }// columns

            .agreement {
                text-align: center;
                @include font-size(10px);
            }

            .line {
                text-align: center;
                position: relative;
                margin-bottom: 15px;

                span {
                    position: relative;
                    display: inline-block;
                    background: $white;
                    padding: 9px 14px;
                    z-index: 10;
                }// span

                &:after {
                    position: absolute;
                    content: '';
                    display: block;
                    height: 1px;
                    width: 100%;
                    background: $blue;
                    border-radius: 1px;
                    margin-top: -20px;
                    box-sizing: border-box;
                    z-index: 5;
                }// pseudoclass
            }// .line

            .btn-login,
            .btn-default {
                width: 100%;
                margin-bottom: 10px;
            }

            .btn-default {

                img {
                    max-width: 18px;
                    margin-right: 7px;
                }

                img[alt=mobile] {
                    max-width: 12px;
                }
            }// .btn-default

            .btn-login {
                background: $blue;   
                border: 0;

                &:focus {
                    border: 0;
                }
            }// .btn-login

            .text-center {
                margin-top: 15px;
            }
        }// .modal-body
    }// .modal-dialog
}// # login

// responsive
@include mq(xxsmall) {
    .verify-box {
        @include font-size(12px);
        
        .modal-dialog {
            width: 100%;
            margin: 0 auto;
    
            .modal-body {
    
                .login-logo {
                    
                    img {
                        max-width: 200px;
                    }// img
                }// .login-logo
    
                .form-group {

                    .form-control {
                        @include font-size(12px);
                    }
                }// .form-group

                .btn-default {
                    @include font-size(12px);
    
                    img {
                        display: none;
                    }
                }// .btn-default
            }// .modal-body
        }// .modal-dialog
    }// # login
}

@include mq(xsmall) {
    .verify-box {
        @include font-size(14px);
        
        .modal-dialog {
            width: 450px;
            margin: 30px auto;
    
            .modal-body {
    
                .login-logo {
                    
                    img {
                        max-width: 250px;
                    }// img
                }// .login-logo
    
                .form-group {

                    .form-control {
                        @include font-size(14px);
                    }
                }// .form-group

                .btn-default {
                    @include font-size(14px);
                }// .btn-default
            }// .modal-body
        }// .modal-dialog
    }// # login
}

@include mq(small) {
    .verify-box {
        
        .modal-dialog {
    
            .modal-body {
    
                .btn-default {

                    img {
                        display: inline-block;
                    }
                }// .btn-default
            }// .modal-body
        }// .modal-dialog
    }// # login
}