footer {

    &:before {
        margin-top: 30px;
        content: '';
        display: block;
        width: 100%;
        height: 50px;
        @include bgImg("../images/painted-footer.png", center center, no-repeat, cover);
    }// pseudoclass

    .head-footer {
        background: $white;
        padding: 30px 0;

        .about-in-footer,
        .contact-in-footer {
    
            img {
                max-width: 150px;
                margin: 15px 0;
            }
    
            .excerpt-about-in-footer {
                font-weight: 300;
                color: $gray;
            }
        }// multiple class
    
        .contact-in-footer {
            img {
                margin: 7.5px 0;
            }
        }// .contact-in-footer
    
        .help-in-footer {
    
            ul {
    
                li {
    
                    a {
                        color: $gray;
                        font-weight: 300;
    
                        &:hover {
                            text-decoration: none;
                            color: $blue;
                        }
                    }// a
                }// li
            }// ul
        }// .help-in-footer
    
        .find-in-footer {
    
            ul {
    
                li {
    
                    a {
                        font-weight: 300;
                        color: $gray;
    
                        &:hover {
                            text-decoration: none;
                            color: $blue;
                        }
    
                        img {
                            max-width: 20px;
                            margin: 7.5px 5px 7.5px 0;
                        }
                    }// a
                }// li
            }// ul
        }// find-in-footer 
    }// .head-footer

    .copyright {
        padding: 10px 0;
        background: $blue;
        color: $white;
        @include font-size(12px);

        p {
            margin: 0;
        }
    }// .copyright
}// footer