nav {
    .head-nav {
        .container-fluid {
            position: relative;
            padding: 6px 50px;
            background: $blue;
            z-index: 10;
            text-align: right;
    
            ul {
                margin-bottom: 0;
    
                li {
                    
                    a {
                        color: $white;
                    }
                }// li
            }// ul
        }// .container-fluid;
    }// .head-nav

    .navbar {
        padding: 30px 0;
        background: $white;
        border-radius: 0;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
        
        .container-fluid {
            padding: 0 15px;
    
            .navbar-brand {
                position: relative;
                padding: 6px;
                margin-top: -10px;
            }// .navbar-brand

            .col-lg-2.text-center {
                padding: 9px;
                text-align: center;
                font-weight: bold;
                
                a {

                    &:hover {
                        text-decoration: none;
                    }
                }
            }// columns
    
            .col-lg-6 {
                padding: 0;
    
                .input-group {
    
                    .form-control {
                        border-top-left-radius: 50px;
                        border-top-right-radius: 0;
                        border-bottom-left-radius: 50px;
                        border-bottom-rigt-radius: 0;
                        background: transparent;
                    }// .form-control

                    .form-control-feedback {
                        top: 2px;
                        left: 15px;
                        width: 135px;
                        height: auto;
                        z-index: 1;
                    }// .form-control-feedback
    
                    .input-group-btn {
                        
                        .btn-default {
                            border-top-left-radius: 0;
                            border-top-right-radius: 50px;
                            border-bottom-left-radius: 0;
                            border-bottom-right-radius: 50px;
                            padding: 4px 25px;
                            background: $blue;
                            border-color: $blue;
    
                            .material-icons {
                                color: $white;
                            }
                        }// .btn-default
                    }// .input-group-btn
                }// .input-group
            }// columns
    
            .col-lg-2 {
                padding-right: 0;
                text-align: right;

                ul {
                    margin: 0;
    
                    li {
                        padding: 6px 15px;
                    }
                }// li
            }// columns
        }// .container-fluid
    }// .navbar
}// nav

@include mq(xxsmall) {
    nav {
        .head-nav {
            .container-fluid {
                padding: 6px 15px;
                text-align: center;
            }// .container-fluid;
        }// .head-nav
    
        .navbar {
            
            .container-fluid {
        
                .col-lg-2.text-center {
                    padding: 0;
                    margin: 0 0 15px 0;
                }// columns
        
                .col-lg-2 {
                    margin-top: 15px;
                    padding: 0;
                    text-align: center;
    
                    ul {
        
                        li {
                            padding: 6px 15px;
                        }
                    }// li
                }// columns
            }// .container-fluid
        }// .navbar
    }// nav
}

@include mq(xsmall) {
    nav {
        .head-nav {
            .container-fluid {
                padding: 6px 15px;
                text-align: center;
            }// .container-fluid;
        }// .head-nav
    
        .navbar {
            
            .container-fluid {
        
                .col-lg-2.text-center {
                    padding: 0;
                    margin: 0 0 15px 0;
                }// columns
        
                .col-lg-2 {
    
                    ul {
        
                        li {
                            padding: 6px 15px;
                        }
                    }// li
                }// columns
            }// .container-fluid
        }// .navbar
    }// nav
}

@include mq(small) {
    nav {
        .head-nav {
            .container-fluid {
                padding: 6px 15px;
                text-align: right;
            }// .container-fluid;
        }// .head-nav
    
        .navbar {
            
            .container-fluid {
        
                .col-lg-2.text-center {
                    text-align: left;
                }// columns
        
                .col-lg-2 {
    
                    ul {
        
                        li {
                            padding: 6px 15px;
                        }
                    }// li
                }// columns
            }// .container-fluid
        }// .navbar
    }// nav
}

@include mq(medium) {
    nav {
        .head-nav {
            .container-fluid {
                padding: 6px 50px;
                text-align: right;
            }// .container-fluid;
        }// .head-nav
    
        .navbar {
            
            .container-fluid {
                padding: 0 50px;
        
                .col-lg-2.text-center {
                    text-align: left;
                }// columns
        
                .col-lg-2 {
    
                    ul {
        
                        li {
                            padding: 6px 15px;
                        }
                    }// li
                }// columns
            }// .container-fluid
        }// .navbar
    }// nav
}